<h3>Comments</h3>

  <% comments.each do |comment| %>
<div class="panel panel-default">
    <div class="panel-body">
      <h5><%= comment.user %>, <%= comment.created_at %></h5>
      <p><%= comment.body %></p>
    </div>
    </div>
  <% end %>

